doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/css/main.css")
        title Brewm8t V1
    body
        include includes/navbar.pug
        .wrapper
            .bento-container 
                .bentocard.bentocard-1
                    h1 NB12 Helles Lager
                .bentocard.bentocard-2 2
                .bentocard.bentocard-3
                    h1(style="padding-bottom: 30px") Maischetemperatur
                    .temperature 57째C
                .bentocard.bentocard-4
                    h1(style="padding-bottom: 30px") W체rzetemperatur
                    .temperature 87째C
                .bentocard.bentocard-5
                    .bento-content.center 
                        h2 R체hrwerk
                    .bento-content.center
                        .toggle 
                            input(type="checkbox" id="btn")
                            label(for="btn")
                                span.track
                                    span.txt
                                span.thumb |||
                .bentocard.bentocard-6 6
                .bentocard.bentocard-7 7
                .bentocard.bentocard-8
                    .bento-content.center
                        h2 Status
                    .bento-content.center
                        .progress-box
                            .progress