doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/css/main.css")
        title Brewm8t V1
        script(src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.4/socket.io.js") 
    body
        include includes/navbar.pug
        .wrapper
            .bento-container 
                .bentocard.bentocard-1
                    h1 NB12 Helles Lager
                .bentocard.bentocard-2 2
                .bentocard.bentocard-3
                    h1(style="padding-bottom: 30px") Maische
                    .temperature 57째C
                .bentocard.bentocard-4
                    h1(style="padding-bottom: 30px") W체rze
                    .temperature 87째C
                .bentocard.bentocard-5
                    .bento-content.center 
                        h2 R체hrwerk
                    .bento-content.center
                        .toggle 
                            input(type="checkbox" id="btn")
                            label(for="btn")
                                span.track
                                    span.txt
                                span.thumb |||
                .bentocard.bentocard-6
                    .bento-content.center 
                        h3 Restzeit 
                    .bento-content.center 
                        h1#countdown 00:45:23
                .bentocard.bentocard-7
                    .bento-content.center
                        h2 Status
                    .bento-content.center
                        .progress-box
                            .progress
        script(src="/js/countdown.js") 
                        